<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style media="screen">
  .jumbotron {
    background-image: url({{ splash }});
    background-size: cover;
  }
  .jumbotron h1 {
    color: white;
  }
</style>

<div class="jumbotron">
  <div class="container">
    <h1>Book Club</h1>

  </div>
</div>

<div class="container">
  <h3>Hello <span class="text-primary">{{ user }}</span>!</h3>
  <div class="well">
    <p>You may vote by adjusting the values below and clicking "Vote"<br />
      You do not need to vote for all books.<br />
      <a href="/add">Add books to the list here.</a>
    </p>
  </div>

  <form method="POST" action="/vote">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Link</th>
          <th>Score</th>
          <th>Your Vote</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.author }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.link }}</td>
          <td>{{ book.score }}</td>
          <td>
            <input class="form-control"
            type="number"
            min="0"
            max="10"
            name="{{ book.id }}"/>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <input class="btn btn-success" type="submit" value="Vote" />
  </form>

</div>
