{% extends 'header.html' %}
{% block body %}

<div class="container">
  <h3>Hello <span class="text-primary">{{ user }}</span>!</h3>
  <div class="well">
    <p>You may vote by adjusting the values below and clicking "Vote"<br />
      You do not need to vote for all books.<br />
      <a href="/add">Add books to the list here.</a>
    </p>
  </div>

  <form method="POST" action="/vote">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Link</th>
          <th>Score</th>
          <th>Your Vote</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td><a href="{{ book.link }}">{{ book.description }}</a></td>
          <td>{{ book.score }}</td>
          <td>
            <input class="form-control"
            type="number"
            min="0"
            max="10"
            name="{{ book.id }}"/>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input class="btn btn-success" type="submit" value="Vote" />
    <br />
  </form>
</div>

{% endblock %}
